.Content {
  padding: 0 1rem;
  position: relative;
  color: initial;
}

.TableItem {
  border-color: lightgray;
  border-style: solid;
  border-width: 0 1px 0 1px;
  height: 400px;
}
.TableItem img {
  padding: 1rem 4rem;
  height: 12rem;
  width: 12rem;
  object-fit: cover;
}
.TableItem .ProductName {
  max-height: 3.115rem;
  font-size: 1.115rem;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.25rem;
}
.ProductName:hover {
  color: goldenrod;
  transition: 0.1s;
}
.TableItem .ProductBrand {
  max-height: 2.115rem;
  font-size: 1.115rem;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.25rem;
}
.TableItem .ProductRating {
  margin: 0.5rem 0;
}
.TableItem .ProductPrice {
  max-height: 2rem;
  font-size: 1.5rem;
  margin-top: 0.75rem;
}

.TableList {
  padding: 1.5rem 1rem;
  display: flex;
  width: 95%;
}
.TableList > img {
  padding: 1rem 4rem;
  height: 12rem;

  object-fit: cover;
}
.TableList .ProductName {
  max-height: 3.5rem;
  font-size: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.25rem;
}
.TableList .ProductBrand {
  max-height: 2.25rem;
  font-size: 1.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.25rem;
}
.TableList .ProductDescription {
  display: -webkit-box;
  height: 60px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.TableList .ProductRating {
  margin: 1rem 0;
}
.TableList .ProductPrice {
  max-height: 2rem;
  font-size: 1.5rem;
  margin-top: 0.75rem;
}
