.Main {
  display: flex;
}
.TableItems {
  width: 80%;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(4, 1fr);
}
.TableList > div:nth-child(2n + 1) {
  background-color: #fafafa;
}
.TableList {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.Controls {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.Controls > div {
  margin: 1rem 2rem;
}
.LayoutControls {
  margin-bottom: 0.5rem;
}
.LayoutControls > button {
  margin-right: 0.5rem;
}
.PageTitle {
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
}
@media (max-width: 1480px) {
  .TableItems {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1080px) {
  .TableItems {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .TableItems {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 420px) {
  .Main {
    display: block;
  }
  .LayoutControls {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .LayoutControls > :first-child {
    display: none;
  }
  .PageTitle {
    height: 3rem;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
  }
  .TableItems {
    width: 100%;
  }
  .TableItems > div {
    width: 80%;
    align-self: center;
    justify-self: center;
  }
}
